Repository s-y-yu/Pulsar, pull requests merged in 2023-05, with the labels that each got.

#13 feat: DAO 인터페이스 초기 구현 완료
  server/pulsar/src/main/java/com/hammer/pulsar/dao/.gitkeep
  server/pulsar/src/main/java/com/hammer/pulsar/dao/ArticleDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/ArticleTagDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/BookmarkDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/CommentDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/ConcernDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/ExerciseDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/LikeDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/MemberDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/RoutineDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/TagDao.java
Labels: SERVER

#14 fix: 프론트 개발환경 설정
  .DS_Store
  client/.DS_Store
  client/.eslintrc.json
  client/.gitignore
  client/.prettierrc.json
  client/README.md
  client/package.json
  client/src/.DS_Store
  client/src/assets/.DS_Store
  client/src/core/.DS_Store
  client/src/module/.DS_Store
  client/src/module/template.vue
Labels: FRONTEND

#15 feat: 서비스 인터페이스 초기 구현 완료
  server/pulsar/src/main/java/com/hammer/pulsar/dto/NotDetermined.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/.gitkeep
  server/pulsar/src/main/java/com/hammer/pulsar/service/ArticleService.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/InteractionService.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/MemberService.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/RoutineService.java
Labels: SERVER

#17 feat: 도메인별 컨트롤러 클래스 초기 구현 완료
  server/pulsar/src/main/java/com/hammer/pulsar/controller/.gitkeep
  server/pulsar/src/main/java/com/hammer/pulsar/controller/CommunityController.java
  server/pulsar/src/main/java/com/hammer/pulsar/controller/MemberRestController.java
  server/pulsar/src/main/java/com/hammer/pulsar/controller/RoutineController.java
Labels: SERVER

#16 feat: API call을 위한 axios 설정 작성
  client/src/core/api/axiosConfig.js
Labels: FRONTEND

#20 feat: Layout, Router-view의 조건부 렌더링 작성
  client/package.json
  client/src/assets/css/init.css
  client/src/assets/css/root.css
  client/src/assets/css/typography.css
  client/src/core/App.vue
  client/src/core/components/Header/TheHeader.vue
  client/src/core/components/Nav/TheNav.vue
  client/src/core/components/layout/AboutBtn.vue
  client/src/core/components/layout/AboutContent.vue
  client/src/core/components/layout/Header.vue
  client/src/core/components/layout/Nav.vue
  client/src/core/components/layout/TheLayout.vue
  client/src/module/common/Btn.vue
  client/src/module/common/Button.vue
Labels: FRONTEND

#21 feat: 최상단 레이아웃 컴포넌트 작성
  client/package-lock.json
  client/src/core/App.vue
  client/src/core/components/About/AboutBtn.vue
  client/src/core/components/About/AboutContainer.vue
  client/src/core/components/About/AboutContent.vue
  client/src/core/components/Layout/EmptyLayout.vue
  client/src/core/components/Layout/FullLayout.vue
  client/src/core/components/layout/AboutContent.vue
  client/src/module/common/Btn.vue
  client/src/module/template.vue
Labels: FRONTEND

#22 feat: 회원 서비스 로직 구현 완료
  server/pulsar/src/main/java/com/hammer/pulsar/controller/MemberRestController.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/CommentDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/ConcernDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/LikeDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/MemberDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/article/CommentedArticle.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/common/ConcernUpdateRequest.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/member/Member.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/member/MemberModifyForm.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/member/MemberModifyRequest.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/member/MemberRegistRequest.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/FileManagementService.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/MemberService.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/MemberServiceImpl.java
Labels: SERVER

#23 feat: 사용자 인터랙션 서비스 로직 구현 완료
  server/pulsar/src/main/java/com/hammer/pulsar/dao/ArticleDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/CommentDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/LikeDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/article/Article.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/article/CommentedArticle.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/common/Writer.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/interaction/Comment.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/interaction/CommentWriteRequest.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/interaction/Like.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/interaction/LikeRequest.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/InteractionService.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/InteractionServiceImpl.java
Labels: SERVER

#24 feat: 게시글 서비스 로직 구현 완료
  server/pulsar/src/main/java/com/hammer/pulsar/dao/ArticleDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/ArticleTagDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/article/Article.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/article/ArticleModifyForm.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/article/ArticleTagUpdateRequest.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/ArticleService.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/ArticleServiceImpl.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/FileManagementService.java
Labels: SERVER

#25 feat: 루틴 서비스 로직 구현 완료
  server/pulsar/src/main/java/com/hammer/pulsar/dao/RoutineDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/routine/RoutineModifyRequest.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/routine/RoutineRegistRequest.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/RoutineService.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/RoutineServiceImpl.java
Labels: SERVER

#33 feat: 회원 기능 컨트롤러 구현 완료
  server/pulsar/src/main/java/com/hammer/pulsar/controller/MemberRestController.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/MemberService.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/MemberServiceImpl.java
Labels: SERVER

#34 feat: 루틴 기능 컨트롤러 구현 완료
  server/pulsar/src/main/java/com/hammer/pulsar/controller/RoutineController.java
  server/pulsar/src/main/java/com/hammer/pulsar/controller/RoutineRestController.java
Labels: SERVER

#35 feat: 커뮤니티 기능 컨트롤러 구현 완료
  server/pulsar/src/main/java/com/hammer/pulsar/controller/CommunityController.java
  server/pulsar/src/main/java/com/hammer/pulsar/controller/CommunityRestController.java
Labels: SERVER

#39 feat: API 요청 작성 완료
  client/.eslintrc.json
  client/src/assets/css/root.css
  client/src/assets/css/typography.css
  client/src/assets/fonts/koverwatch.ttf
  client/src/assets/fonts/koverwatch.woff
  client/src/core/api/axiosConfig.js
  client/src/core/api/community.js
  client/src/core/api/member.js
  client/src/core/api/routine.js
  client/src/core/api/tag.js
  client/src/module/common/ViewContainer.vue
  client/src/module/landing/Landing.vue
Labels: FRONTEND

#37 fix: 서버 애플리케이션 구동을 위한 코드 추가
  server/pulsar/src/main/java/com/hammer/pulsar/service/ArticleServiceImpl.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/FileManagementServiceImpl.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/InteractionServiceImpl.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/RoutineServiceImpl.java
Labels: SERVER

#40 feat: memberMapper.xml 작성
  server/pulsar/src/main/resources/mappers/memberMapper.xml
Labels: SERVER

#41 feat: Pulsar 데이터베이스 초기 설계 DDL
  db/pulsar.sql
Labels: DB

#44 fix: 회원 API 오류 일부 수정
  server/pulsar/src/main/java/com/hammer/pulsar/controller/MemberRestController.java
  server/pulsar/src/main/java/com/hammer/pulsar/handler/GlobalExceptionHandler.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/MemberService.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/MemberServiceImpl.java
  server/pulsar/src/main/resources/application.properties
  server/pulsar/src/main/resources/mappers/memberMapper.xml
Labels: SERVER

#48 feat: 로그인 화면 구현 완료
  client/src/assets/css/init.css
  client/src/assets/css/typography.css
  client/src/core/api/axiosConfig.js
  client/src/core/components/About/AboutBtn.vue
  client/src/core/components/About/AboutContent.vue
  client/src/module/common/RoundButton.vue
  client/src/module/common/SquareButton.vue
  client/src/module/common/TextInput.vue
  client/src/module/landing/LandingView.vue
  client/src/module/landing/components/LoginContainer.vue
  client/src/module/landing/components/LoginContent.vue
  client/src/module/landing/components/WelcomePulsar.vue
Labels: FRONTEND

#45 feat: 루틴 서비스에 필요한 mapper.xml 추가
  server/pulsar/src/main/java/com/hammer/pulsar/controller/CommunityRestController.java
  server/pulsar/src/main/java/com/hammer/pulsar/controller/RoutineRestController.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/RoutineDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/RoutineDetailDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/NotDetermined.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/routine/Routine.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/ArticleService.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/RoutineServiceImpl.java
  server/pulsar/src/main/resources/mappers/exerciseMapper.xml
  server/pulsar/src/main/resources/mappers/memberMapper.xml
  server/pulsar/src/main/resources/mappers/routineMapper.xml
Labels: SERVER

#46 feat: mapper.xml 작성
  server/pulsar/src/main/java/com/hammer/pulsar/dao/ArticleDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/BookmarkDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/CommentDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/ConcernTagDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/LikeDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/MemberServiceImpl.java
  server/pulsar/src/main/resources/mappers/articleMapper.xml
  server/pulsar/src/main/resources/mappers/articleTagMapper.xml
  server/pulsar/src/main/resources/mappers/commentMapper.xml
  server/pulsar/src/main/resources/mappers/concernTagMapper.xml
  server/pulsar/src/main/resources/mappers/likeMapper.xml
  server/pulsar/src/main/resources/mappers/tagMapper.xml
Labels: SERVER

#49 fix: mapper.xml mybatis 구문 오류 수정
  server/pulsar/src/main/resources/mappers/articleTagMapper.xml
  server/pulsar/src/main/resources/mappers/concernTagMapper.xml
Labels: bugfix, SERVER

#50 feat: vuex 설정 및 로그인 시 vuex에 데이터가 전달되도록 조정
  client/src/core/App.vue
  client/src/core/store/actions.js
  client/src/core/store/getters.js
  client/src/core/store/index.js
  client/src/core/store/mutations.js
  client/src/core/store/state.js
  client/src/module/common/SquareButton.vue
  client/src/module/common/TextInput.vue
  client/src/module/landing/LandingView.vue
  client/src/module/landing/components/LoginContainer.vue
  client/src/module/landing/components/LoginContent.vue
  client/src/module/landing/components/WelcomePulsar.vue
  client/src/module/landing/router/landing.js
Labels: FRONTEND

#51 fix: 버그 수정
  client/src/core/components/Header/TheHeader.vue
  client/src/core/components/Nav/TheNav.vue
  client/src/module/common/CommunityList.vue
  client/src/module/common/TagItem.vue
  client/src/module/common/TextInput.vue
  client/src/stories/assets/layout/TheHeader.stories.js
  client/src/stories/assets/layout/TheNav.stories.js
  client/src/stories/common/CommunityList.stories.js
  client/src/stories/common/RoundButton.stories.js
  client/src/stories/common/RoutineList.stories.js
  client/src/stories/common/SquareButton.stories.js
  client/src/stories/common/TagItem.stories.js
  client/src/stories/common/TextInput.stories.js
Labels: bugfix, FRONTEND

#52 feat: 로그인/로그아웃 기능 구현
  server/pulsar/src/main/java/com/hammer/pulsar/config/WebConfig.java
  server/pulsar/src/main/java/com/hammer/pulsar/controller/MemberRestController.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/MemberDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/member/LoginForm.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/member/LoginInfo.java
  server/pulsar/src/main/java/com/hammer/pulsar/exception/UnauthorizedException.java
  server/pulsar/src/main/java/com/hammer/pulsar/handler/GlobalExceptionHandler.java
  server/pulsar/src/main/java/com/hammer/pulsar/interceptor/AuthCheckInterceptor.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/MemberService.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/MemberServiceImpl.java
  server/pulsar/src/main/resources/mappers/concernTagMapper.xml
  server/pulsar/src/main/resources/mappers/memberMapper.xml
Labels: SERVER

#53 fix: cors 관련 설정 추가
  client/src/core/api/axiosConfig.js
Labels: FRONTEND

#54 feat: API 테스트시 CORS 문제 해결을 위한 임시 CorsMapping 설정
  server/pulsar/src/main/java/com/hammer/pulsar/config/WebConfig.java
  server/pulsar/src/main/java/com/hammer/pulsar/interceptor/AuthCheckInterceptor.java
Labels: SERVER

#56 feat: 마이페이지 관련 API 기능 및 세부 수정
  server/pulsar/src/main/java/com/hammer/pulsar/dao/ArticleDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/CommentDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/LikeDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/article/CommentedArticle.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/member/MemberRegistRequest.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/MemberServiceImpl.java
  server/pulsar/src/main/resources/mappers/articleMapper.xml
  server/pulsar/src/main/resources/mappers/articleTagMapper.xml
  server/pulsar/src/main/resources/mappers/commentMapper.xml
  server/pulsar/src/main/resources/mappers/concernTagMapper.xml
  server/pulsar/src/main/resources/mappers/exerciseMapper.xml
  server/pulsar/src/main/resources/mappers/likeMapper.xml
  server/pulsar/src/main/resources/mappers/memberMapper.xml
  server/pulsar/src/main/resources/mappers/tagMapper.xml
Labels: SERVER

#58 fix: signup bugfix
  client/src/core/api/axiosConfig.js
  client/src/module/landing/components/SignupContainer.vue
  client/src/module/landing/components/SignupContent.vue
Labels: bugfix, FRONTEND

#60 feat: JWT 관련 테스트 코드 작성
  client/src/core/api/axiosConfig.js
  client/src/core/api/community.js
  client/src/core/api/member.js
  client/src/core/api/routine.js
  client/src/core/components/Header/TheHeader.vue
  client/src/core/store/actions.js
  client/src/core/store/getters.js
  client/src/core/store/mutations.js
  client/src/core/store/state.js
  client/src/module/landing/components/LoginContainer.vue
Labels: FRONTEND

#61 feat: 로그인 기능 구현
  server/pulsar/pom.xml
  server/pulsar/src/main/java/com/hammer/pulsar/controller/MemberRestController.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/common/LoginSuccessResponse.java
  server/pulsar/src/main/java/com/hammer/pulsar/interceptor/AuthCheckInterceptor.java
  server/pulsar/src/main/java/com/hammer/pulsar/util/UUIDTokenManager.java
Labels: SERVER

#62 feat: 루틴 API 작성자 회원번호 조회 구현
  server/pulsar/src/main/java/com/hammer/pulsar/controller/RoutineRestController.java
  server/pulsar/src/main/java/com/hammer/pulsar/util/UUIDTokenManager.java
Labels: SERVER

#63 feat: 커뮤니티 API 작성자 회원번호 조회 구현
  server/pulsar/src/main/java/com/hammer/pulsar/controller/CommunityRestController.java
Labels: SERVER

#65 feat: Nav 컴포넌트 추가
  client/babel.config.js
  client/package-lock.json
  client/package.json
  client/src/assets/css/typography.css
  client/src/core/components/Header/TheHeader.vue
  client/src/core/components/Nav/TheNav.vue
  client/src/core/components/Nav/icons/CommunityIcon.vue
  client/src/core/components/Nav/icons/MypageIcon.vue
  client/src/core/components/Nav/icons/RoutinesIcon.vue
  client/src/core/components/Nav/icons/StatisticsIcon.vue
  client/src/module/common/RoundButton.vue
  client/src/module/common/SquareButton.vue
  client/src/module/landing/components/LoginContainer.vue
  client/src/module/landing/components/LoginContent.vue
  client/src/module/landing/components/SignupContent.vue
  client/src/module/landing/components/WelcomePulsar.vue
  client/vue.config.js
  client/webpack.config.js
Labels: FRONTEND

#64 feat: 루틴 API 응답 수정
  server/pulsar/src/main/java/com/hammer/pulsar/controller/RoutineRestController.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/DayDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/routine/DayUpdateRequest.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/routine/Routine.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/routine/RoutineDay.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/routine/RoutineModifyRequest.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/routine/RoutineRegistRequest.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/routine/RoutineTime.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/RoutineService.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/RoutineServiceImpl.java
  server/pulsar/src/main/resources/mappers/dayMapper.xml
  server/pulsar/src/main/resources/mappers/routineMapper.xml
Labels: SERVER

#66 fix: sessionId를 token으로 표현만 수정
  client/src/core/api/axiosConfig.js
  client/src/core/api/community.js
  client/src/core/api/member.js
  client/src/core/api/routine.js
  client/src/core/store/actions.js
  client/src/core/store/getters.js
  client/src/core/store/mutations.js
  client/src/core/store/state.js
Labels: FRONTEND

#68 feat: 커뮤니티 API 응답 추가
  server/pulsar/src/main/java/com/hammer/pulsar/controller/CommunityRestController.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/ArticleDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/CommentDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/LikeDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/article/Article.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/ArticleService.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/ArticleServiceImpl.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/InteractionService.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/InteractionServiceImpl.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/MemberServiceImpl.java
  server/pulsar/src/main/resources/mappers/articleMapper.xml
  server/pulsar/src/main/resources/mappers/commentMapper.xml
  server/pulsar/src/main/resources/mappers/likeMapper.xml
Labels: SERVER

#69 feat: 커뮤니티 API 구현
  server/pulsar/src/main/java/com/hammer/pulsar/controller/CommunityRestController.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/article/ArticleModifyRequest.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/article/ArticleWriteRequest.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/ArticleServiceImpl.java
  server/pulsar/src/main/resources/mappers/articleMapper.xml
  server/pulsar/src/main/resources/mappers/articleTagMapper.xml
  server/pulsar/src/main/resources/mappers/commentMapper.xml
Labels: SERVER

#70 feat: sql 파일 추가
  db/pulsar.sql
  db/pulsar_ddl.sql
  db/pulsar_mockup_dml.sql
Labels: DB

#71 feat: 회원정보 수정 기능 구현
  server/pulsar/src/main/java/com/hammer/pulsar/controller/MemberRestController.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/member/MemberModifyResponse.java
  server/pulsar/src/main/java/com/hammer/pulsar/exception/DuplicateValueException.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/MemberService.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/MemberServiceImpl.java
  server/pulsar/src/main/resources/mappers/articleTagMapper.xml
  server/pulsar/src/main/resources/mappers/concernTagMapper.xml
  server/pulsar/src/main/resources/mappers/memberMapper.xml
Labels: SERVER

#73 feat: 루틴 수정 기능 구현
  server/pulsar/src/main/java/com/hammer/pulsar/controller/RoutineRestController.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/RoutineDetailDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/routine/ExerciseRegistRequest.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/routine/RoutineModifyRequest.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/RoutineServiceImpl.java
  server/pulsar/src/main/resources/mappers/routineDetailMapper.xml
  server/pulsar/src/main/resources/mappers/routineMapper.xml
Labels: SERVER

#74 feat: 태그 목록 조회 기능 구현
  server/pulsar/src/main/java/com/hammer/pulsar/controller/TagController.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/ExerciseDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/TagService.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/TagServiceImpl.java
  server/pulsar/src/main/resources/mappers/exerciseMapper.xml
Labels: SERVER

#75 feat: 게시글 목록 조회시 검색 및 페이지네이션 구현
  server/pulsar/src/main/java/com/hammer/pulsar/controller/CommunityRestController.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/ArticleDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/article/ArticleWriteRequest.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/article/PaginationCriteria.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/ArticleService.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/ArticleServiceImpl.java
  server/pulsar/src/main/resources/mappers/articleMapper.xml
Labels: SERVER

#76 feat: 인터셉터 매핑 경로 설정
  server/pulsar/src/main/java/com/hammer/pulsar/config/WebConfig.java
  server/pulsar/src/main/java/com/hammer/pulsar/controller/CommunityRestController.java
  server/pulsar/src/main/java/com/hammer/pulsar/interceptor/AuthCheckInterceptor.java
Labels: SERVER

#77 feat: Routine 세부 기능 구현
  client/src/assets/css/init.css
  client/src/assets/css/typography.css
  client/src/core/api/axiosConfig.js
  client/src/core/components/Nav/TheNav.vue
  client/src/module/common/CommunityList.vue
  client/src/module/common/ExerciseList.vue
  client/src/module/common/ModalView.vue
  client/src/module/common/RoundButton.vue
  client/src/module/common/SquareButton.vue
  client/src/module/common/TagForm.vue
  client/src/module/common/TextInput.vue
  client/src/module/landing/components/LoginContent.vue
  client/src/module/landing/components/SignupContent.vue
  client/src/module/routines/components/RoutineDetailContainer.vue
  client/src/module/routines/components/RoutineDetailContent.vue
  client/src/module/routines/components/RoutineListContainer.vue
  client/src/module/routines/components/RoutineListContent.vue
  client/src/module/routines/components/RoutineModifyContainer.vue
  client/src/module/routines/components/RoutineModifyContent.vue
  client/src/module/routines/components/RoutineWriteContainer.vue
  client/src/module/routines/components/RoutineWriteContent.vue
  client/src/module/routines/router/routines.js
  client/src/stories/common/Modalview.stories.js
  client/src/stories/common/TheNav.stories.js
Labels: FRONTEND

#80 feat: 커뮤니티 게시판 기능 추가
  client/src/core/api/community.js
  client/src/core/store/index.js
  client/src/module/common/CommentList.vue
  client/src/module/common/ModalView.vue
  client/src/module/common/TextInput.vue
  client/src/module/community/components/CommunityDetailContainer.vue
  client/src/module/community/components/CommunityDetailContent.vue
  client/src/module/community/components/CommunityListContainer.vue
  client/src/module/community/router/community.js
  client/src/module/routines/components/RoutineDetailContent.vue
Labels: FRONTEND

#81 refactor: DTO 및 코드 구조 변경
  server/pulsar/src/main/java/com/hammer/pulsar/config/WebConfig.java
  server/pulsar/src/main/java/com/hammer/pulsar/controller/CommunityRestController.java
  server/pulsar/src/main/java/com/hammer/pulsar/controller/MemberRestController.java
  server/pulsar/src/main/java/com/hammer/pulsar/controller/RoutineRestController.java
  server/pulsar/src/main/java/com/hammer/pulsar/controller/TagRestController.java
  server/pulsar/src/main/java/com/hammer/pulsar/dao/MemberDao.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/common/LoginSuccessResponse.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/member/LoginInfo.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/member/MemberProfile.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/routine/Exercise.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/routine/RoutineModifyRequest.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/routine/RoutineRegistRequest.java
  server/pulsar/src/main/java/com/hammer/pulsar/interceptor/AuthCheckInterceptor.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/ArticleServiceImpl.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/MemberService.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/MemberServiceImpl.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/RoutineServiceImpl.java
  server/pulsar/src/main/java/com/hammer/pulsar/util/MemoryAuthManager.java
  server/pulsar/src/main/java/com/hammer/pulsar/util/UUIDTokenManager.java
  server/pulsar/src/main/resources/mappers/routineMapper.xml
Labels: bugfix, SERVER, refactor

#83 fix: CORS 오류 해결
  server/pulsar/src/main/java/com/hammer/pulsar/config/WebConfig.java
Labels: bugfix, SERVER

#84 feat: 태그 기능 추가 및 디버깅
  client/src/module/common/TagForm.vue
  client/src/module/community/components/CommunityDetailContainer.vue
  client/src/module/landing/components/LoginContainer.vue
  client/src/module/landing/components/SignupContainer.vue
  client/src/module/landing/components/SignupContent.vue
Labels: bugfix, FRONTEND

#85 feat: 태그 선택 데이터 바인딩 구현
  client/src/module/common/ExerciseList.vue
  client/src/module/common/TagForm.vue
  client/src/module/common/TagItem.vue
  client/src/module/community/components/CommunityDetailContainer.vue
  client/src/module/landing/components/SignupContainer.vue
  client/src/module/landing/components/SignupContent.vue
Labels: FRONTEND

#86 fix: 태그 목록이 비어있을 때 NPE 처리
  server/pulsar/src/main/java/com/hammer/pulsar/controller/CommunityRestController.java
  server/pulsar/src/main/java/com/hammer/pulsar/dto/article/ArticleWriteRequest.java
  server/pulsar/src/main/java/com/hammer/pulsar/interceptor/AuthCheckInterceptor.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/ArticleServiceImpl.java
  server/pulsar/src/main/java/com/hammer/pulsar/service/MemberServiceImpl.java
Labels: bugfix, SERVER

#87 feat: 운동 추가 기능 구현
  client/src/core/api/community.js
  client/src/core/api/routine.js
  client/src/core/api/tag.js
  client/src/module/common/ModalView.vue
  client/src/module/common/TagForm.vue
  client/src/module/common/TagItem.vue
  client/src/module/common/TextInput.vue
  client/src/module/community/components/CommunityDetailContainer.vue
  client/src/module/landing/components/LoginContainer.vue
  client/src/module/routines/components/RoutineDetailContainer.vue
  client/src/module/routines/components/RoutineDetailContent.vue
Labels: FRONTEND

#88 fix: 댓글 api, DB 구조 수정
  db/pulsar_mockup_dml.sql
  server/pulsar/src/main/java/com/hammer/pulsar/controller/CommunityRestController.java
  server/pulsar/src/main/resources/mappers/commentMapper.xml
Labels: bugfix, SERVER

#89 feat: 루틴 작성, 태그폼, 무한스크롤 구현
  client/.eslintrc.json
  client/src/assets/css/root.css
  client/src/assets/css/typography.css
  client/src/core/components/About/AboutBtn.vue
  client/src/core/components/About/AboutContent.vue
  client/src/core/components/Nav/icons/CommunityIcon.vue
  client/src/core/components/Nav/icons/MypageIcon.vue
  client/src/core/components/Nav/icons/RoutinesIcon.vue
  client/src/core/components/Nav/icons/StatisticsIcon.vue
  client/src/core/store/mutations.js
  client/src/module/common/CommentList.vue
  client/src/module/common/CommunityList.vue
  client/src/module/common/ExerciseList.vue
  client/src/module/common/ModalView.vue
  client/src/module/common/RoutineList.vue
  client/src/module/common/TagForm.vue
  client/src/module/common/TagItem.vue
  client/src/module/common/TextInput.vue
  client/src/module/common/icons/GoBackIcon.vue
  client/src/module/community/CommunityView.vue
  client/src/module/community/components/CommunityDetailContainer.vue
  client/src/module/community/components/CommunityDetailContent.vue
  client/src/module/community/components/CommunityListContainer.vue
  client/src/module/community/components/CommunityListContent.vue
  client/src/module/mypage/MypageContainer.vue
  client/src/module/routines/components/RoutineDetailContent.vue
  client/src/module/routines/components/RoutineListContainer.vue
  client/src/module/routines/components/RoutineListContent.vue
  client/src/module/statistics/StatisticsView.vue
  client/src/module/statistics/components/StatisticsContainer.vue
  client/src/module/statistics/router/statistics.js
Labels: FRONTEND
